textarea#comment {
  height: 75px;
  width: 100%;
  padding: 0.5rem;
}

.comment-form-container {
  height: 0;
  overflow: hidden;
  transition: $toggle-transition;
}

.add-comment:hover {
  cursor: pointer;
}
