.post-form-container,
.comment-form-container {
  height: 0;
  overflow: hidden;
  transition: $toggle-transition;
}

.add-comment:hover,
.add-post:hover {
  cursor: pointer;
}

.post-list i:hover,
.comment-list i:hover {
  cursor: pointer;
  transform: scale(1.25);
}
