// bulma (custom)
$navbar-breakpoint: 768px;
$container-max-width: 960px;

// transitions
$toggle-transition: height 350ms ease-in-out;

// social media
$icon-animation: 0.7s 1 forwards;

// colors
$white: #ffffff;
$youtube-red: #c4302b;
$linkedin-blue: #0072b1;
$github-black: #171515;

// box shadow
$icon-box-shadow: 0 5px 15px -5px #00000070;
