@charset "utf-8";

$navbar-breakpoint: 768px;

// bulma
@import '../node_modules/bulma/bulma.sass';

.posts-container .card > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 0 1rem;
  }
}

.form-container .card {
  max-width: 450px;
}

.form-container .button {
  width: 100%;
}

.separator {
  display: flex;
  align-items: center;
}

.separator p {
  padding: 0 2rem;
}

.separator .line {
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}
