<header
  class='card-header has-background-primary py-2 px-3 is-flex is-align-items-center is-justify-content-space-between' data-postid="{{this.id}}"
>
  <a href='/posts/{{this.id}}' class='has-text-dark'>{{this.title}}</a>
  {{> metadata}}
</header>
<section class='card-content px-3'>
  {{content}}
</section>