<footer class='has-background-dark py-4'>
  <div class='container is-flex is-flex-direction-column is-align-items-center'>
    <p class='has-text-white'>Follow me</p>
    <ul class='social-media is-flex'>
      <li>
        <a href='https://github.com/AidKool' target='_blank'>
          <span class='button icon is-light is-large github-icon mx-1'>
            <i class='fab fa-github'></i>
          </span>
        </a>
      </li>
      <li>
        <a href='https://www.linkedin.com/in/jordilanau/' target='_blank'>
          <span class='button icon is-light is-large linkedin-icon mx-1'>
            <i class='fab fa-linkedin'></i>
          </span>
        </a>
      </li>
      <li>
        <a
          href='https://www.youtube.com/channel/UCH_mFJ7NpeqYEpuKYVtr8qw'
          target='_blank'
        >
          <span class='button icon is-light is-large youtube-icon p-0 mx-1'>
            <i class='fab fa-youtube'></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</footer>