<nav class='navbar is-dark' role='navigation' aria-label='main navigation'>
  <div class='container'>
    <div class='navbar-brand'>
      <div class='navbar-item'>
        <img src='/images/logo-light.png' class='mr-2' />
        <h1 class='title has-text-white'>A Techie's Blog</h1>
      </div>

      <a
        role='button'
        class='navbar-burger'
        aria-label='menu'
        aria-expanded='false'
        data-target='navbar-menu'
      >
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
      </a>
    </div>

    <div id='navbar-menu' class='navbar-menu'>
      <div class='navbar-end'>
        <a href='/' class='navbar-item'>
          Home
        </a>
        {{#if loggedIn}}
          <a href='/dashboard' class='navbar-item'>
            Dashboard
          </a>
          <a class='navbar-item logout'>
            Log Out
          </a>
        {{else}}
          <a href='/login' class='navbar-item'>
            Log In
          </a>
          <a href='/signup' class='navbar-item'>
            Sign Up
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
{{#if loggedIn}}
  <script src='/js/logout.js'></script>
{{/if}}