<nav class='navbar' role='navigation' aria-label='main navigation'>
  <div class='container'>
    <div class='navbar-brand'>
      <div class='navbar-item'>
        <img src='/images/logo.png' class='mr-2' />
        <h1 class='title'>A Techie's Blog</h1>
      </div>

      <a
        role='button'
        class='navbar-burger'
        aria-label='menu'
        aria-expanded='false'
        data-target='navbar-menu'
      >
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
      </a>
    </div>

    <div id='navbar-menu' class='navbar-menu'>
      <div class='navbar-end'>
        <a class='navbar-item'>
          Home
        </a>
        <a class='navbar-item'>
          Dashboard
        </a>
        <a class='navbar-item'>
          Login
        </a>
        <a class='navbar-item'>
          Signup
        </a>
      </div>
    </div>
  </div>
</nav>