<div class='container'>
  <section class='columns posts-container'>
    <section class='column'>
      <h2 class='title'>Latest Posts</h2>
      <ul>
        {{#each posts as |post|}}
          <li class='card mb-3'>
            {{> card-partial}}
          </li>
        {{/each}}
      </ul>
    </section>
  </section>
</div>