<div class='container px-6'>
  {{> intro}}
  <h2 class='title'>Latest Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <p class='is-flex is-justify-content-space-between' data-postid='{{this.id}}'>
      <span>
        <a href='/posts/{{this.id}}' class=''>{{this.title}}</a>
      </span>
      {{> metadata}}
    </p>
    {{/each}}
  </ul>
</div>